<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to Spring Security Demo</h1>

<div sec:authorize="isAnonymous()">
    <p>Please <a th:href="@{/login}">login</a> to continue.</p>
</div>

<div sec:authorize="isAuthenticated()">
    <p>You are logged in!</p>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin}">Go to Admin Panel</a>
    </div>
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/user}">Go to My Page</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>